body {font-family: "Lucida Console", Monaco, monospace;}

.tableTitle{
    color: #3399f3;
    font-size: 20px;
}
table, td, th {
    border: 1px solid black;
    border-bottom: 1px solid gray;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

th {
    height: 50px;
     
}
tr:hover {
    /*box-shadow: 10px 10px 100px gray;*/
    background-color: lightgray;
}